<launch>

    <!-- Arguments -->

    <arg name="nodelets_manager" default="xiaoche_nodelets_manager" />

    <arg name="with_camera" default="false" />
    <arg name="with_lidar" default="false" />

    <arg name="can_port" default="can0" />

    <arg name="camera_width" default="640" />
    <arg name="camera_height" default="360" />
    <arg name="camera_fps" default="30" />


    <!-- Fundamental -->

    <node name="scout_base_node" pkg="scout_base" type="scout_base_node" required="true" >
        <param name="port_name" value="$(arg can_port)" />
        <param name="simulated_robot" value="false" />
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
    </node>

    <node name="$(arg nodelets_manager)" pkg="nodelet" type="nodelet" args="manager" required="true" />


    <!-- Camera, and servo mounting it -->

    <include if="$(arg with_camera)" file="$(find xiaoche)/launch/camera.launch">
        <arg name="use_realsense" value="true" />
        <arg name="width" value="$(arg camera_width)" />
        <arg name="height" value="$(arg camera_height)" />
        <arg name="fps" value="$(arg camera_fps)" />

        <arg name="external_manager" value="true" />
        <!-- realsense2_camera is usually namespaced, so add a slash prefix -->
        <arg name="manager" value="/$(arg nodelets_manager)" />
    </include>

    <node name="camera_servo_node" pkg="xiaoche" type="servo_node.py">
        <param name="yaw_joint" value="gimbal_hservo_vservo_joint" />
        <param name="pitch_joint" value="gimbal_vservo_handle_joint" />
    </node>


    <!-- Lidar -->

    <include if="$(arg with_lidar)" file="$(find xiaoche)/launch/lidar.launch">
        <arg name="frame_id" value="laser" />
    </include>


    <!-- Robot model, TF, and joint states -->

    <include file="$(find xiaoche)/launch/robot_model.launch">
        <arg name="camera_servo_joint_cmd" value="/camera_servo_node/joint_states" />
    </include>


</launch>
