<launch>

    <!-- Arguments -->

    <arg name="can_port" default="can0" />

    <arg name="camera_enable" default="true" />
    <arg name="camera_width" default="640" />
    <arg name="camera_height" default="360" />
    <arg name="camera_fps" default="30" />


    <!-- Base -->

    <node name="scout_base_node" pkg="scout_base" type="scout_base_node" >
        <param name="port_name" value="$(arg can_port)" />
        <param name="simulated_robot" value="false" />
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
    </node>


    <!-- Camera, and servo mounting it -->

    <include if="$(arg camera_enable)" file="$(find xiaoche)/launch/camera.launch">
        <arg name="use_realsense" value="true" />
        <arg name="width" value="$(arg camera_width)" />
        <arg name="height" value="$(arg camera_height)" />
        <arg name="fps" value="$(arg camera_fps)" />
    </include>

    <node if="$(arg camera_enable)" name="camera_servo_node" pkg="xiaoche" type="servo_node.py" />


    <!-- Robot model, TF, and joint states -->

    <include file="$(find xiaoche)/launch/robot_model.launch">
        <arg name="camera_servo_joint_cmd" value="/camera_servo_node/joint_states" />
    </include>


</launch>
