<launch>

	<arg name="use_realsense" default="false" />
	<arg name="camera_width" default="640" />
	<arg name="camera_height" default="360" />
	<arg name="camera_fps" default="30.0" />
	<arg name="camera_rgb_topic" default="/camera/color/image_raw" />

	<arg name="inference_model" default="ssd-mobilenet-v2" />


	<include file="$(find yahboom)/launch/camera.launch">
		<arg name="use_realsense" value="$(arg use_realsense)" />
		<arg name="width" value="$(arg camera_width)" />
		<arg name="height" value="$(arg camera_height)" />
		<arg name="fps" value="$(arg camera_fps)" />
	</include>

	<include file="$(find yahboom)/launch/detection_nn.launch">
		<arg name="model_name" value="$(arg inference_model)" />
		<arg name="image_raw" value="$(arg camera_rgb_topic)" />
	</include>


	<node name="target_filter" pkg="yahboom" type="bbox_filter_node">
		<param name="average_secs" value="0.5" />
		<remap from="~detections" to="/detectnet/detections" />
	</node>

	<node name="servo" pkg="yahboom" type="servo_node.py" />

	<node name="target_tracker" pkg="yahboom" type="target_tracker_node">
		<rosparam command="load" file="$(find yahboom)/config/tracker.yaml" />
		<param name="view/width" value="$(arg camera_width)" />
		<param name="view/height" value="$(arg camera_height)" />
	</node>

</launch>
